<header id="home" class="hero">
  <div class="container">
    <div class="col-md-12 hero-caption">
        <h2 class="bold">Web Developer | Web Designer | Graphic Designer | Photographer | Video Editor</h2>
        <h3 class="thin">I am Brandon Espinoza Sanchez currently living and working in the greater Nashville, TN area. I am passionate on every aspects of my work and love simplicity in things and I <span class="italics">tend</span> create <span class="italics">beautiful</span> products with love.</h3>
    </div>
  </div>
</header>
