/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // @import "modules/all";
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "home";
 @import "modules/all";
 @import url('https://fonts.googleapis.com/css?family=Dosis:300,400');
body, a, h1, h2, h3, h4, h5, h6, p{
  font-family: 'Dosis', sans-serif;
  color: $blue;
}

h1, h2, h3, h4, h5, h6, p{
  letter-spacing: 3px;
}
.bold{
  font-weight: 900;
}

.semi-bold{
  font-weight: 500;
}

.thin{
  font-weight: 100;
}

.italics{
  font-style: italic;
}

.center{
  float: none;
  margin: 0 auto;
}

.text-center{
  text-align: center;
}

.grey{
  color: $medium-gray;
}

.mint{
  color: $mint;
}

.blue{
  color: $blue;
}

.white{
  color: $white;
}

.padding-section{
  padding: 6% 0;
}

.padding-top{
  padding-top: 6%;
}

.padding-top-small{
  padding-top: 3%;
}

// btns //

.btn-go{
  margin-top: 6%;
  padding: 1% 3%;
  border: 2px solid $mint;
  color: $mint;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 3px;
  border-radius: 3px;
  @include transition(all .6s);
  &:hover{
    background: $mint;
    color: $white;
    @include transition(all .6s);
  }
}
